@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap'); /* Open Sans font */
/* Main settings */
* {
    margin: 0; padding: 0; box-sizing: border-box; font-family: 'Montserrat', sans-serif; scroll-behavior: smooth;
}
body {
    background: #f1f1f1;
}

/* Cart section */
.cart {
    margin-top: 10%;
    padding: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cart.favs {
    flex-direction: column;
}

/* Cart heading */
.cart .cart-heading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #b4b4b4;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
.cart .cart-heading .clear-cart {
    font-size: 1em;
    color: #2e2e2e;
    transition: .3s ease;
    border-radius: 5px;
    cursor: pointer;
    padding: 13px 20px;
    background: #e7e7e7;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.cart .cart-heading .clear-cart:hover {
    color: #FE5A5A;
}
.cart .cart-heading h1 {
    font-size: 1.4em;
    font-weight: 600;
}
.cart .cart-heading h1 span {
    color: #5e5e5e;
}

/* Cart items section */
.cart .items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    width: 60%;
}
.cart .items.favs {
    margin: 0 auto;
    width: 80%;
}




/* Cart single item */
.cart .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    width: 100%;
    height: max-content;
    gap: 50px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 0 12px 2px #0000000c;
}
.item img {
    height: 100px;
}
.item .item-info .title {
    font-weight: 600;
    font-size: 1.1em;
    cursor: pointer;
    transition: .3s ease;
}
.item .item-info .author {
    margin-top: 2px;
    color: #474747;
    font-size: 0.8em;
    cursor: pointer;
    transition: .3s ease;
}
.item .item-info .title:hover,
.item .item-info .author:hover {
    color: #FE5A5A;
}
.item .price-info .price {
    font-weight: 700;
    font-size: 1.1em;
    color: #FE5A5A;
}
.item .price-info .delivery {
    font-size: 0.8em;
    margin-top: 2px;
    color: #363636;
}
/* Quantity */
.item .quantity {
    display: flex;
    align-items: center;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.item .quantity .minus,
.item .quantity .plus {
    width: 38px;
    height: 38px;
    font-size: 1.6em;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    background: #f8f8f8;
    border: 1px solid #ccc;
    color: #4b4b4b;
}
.item .quantity .number {
    width: 48px;
    height: 38px;
    line-height: 38px;
    font-weight: 500;
    text-align: center;
    background: #f5f5f5;
    border: 1px solid #ccc;
    border-right: none;
    border-left: none;
}
/* Buttons */
.item .buttons {
    display: flex;
    align-items: center;
}
.item .buttons button {
    cursor: pointer;
    transition: .2s ease;
    background: none;
    color: #282828;
    font-size: 1.2em;
    border: none;
    outline: none;
    padding: 7px;
    border-radius: 3px;
}
.item .buttons button:hover {
    background: #ededed;
}



/* Cart info */
.cart-info {
    background: #fff;
    padding: 25px;
    height: max-content;
    width: max-content;
}
.cart-info .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 120px;
}
.cart-info h2 {
    font-weight: 500;
    font-size: 1em;
    margin: 6px 0;
}
.cart-info .total-price-heading {
    font-size: 1.4em;
    font-weight: 600;
}
.cart-info hr {
    background: #ccc;
    border: none;
    outline: none;
    height: 1px;
    margin: 25px 0 15px 0;
}
.cart-info .buttons {
    margin: 25px 0;
}
.cart-info .btn-1,
.cart-info .btn-2 {
    border: none;
    outline: none;
    height: 42px;
    width: 100%;
    background: #9C60FF;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 6px;
    transition: .3s ease;
}
.cart-info .btn-1:hover {
    background: #8648eb;
}
.cart-info .btn-2 {
    background: none;
    color: #9C60FF;
    letter-spacing: 1px;
    font-size: 0.95em;
}
.cart-info .btn-2:hover {
    color: #8648eb;
    letter-spacing: 0.8px;
}

/* Discount code */
.cart-info .disc-code {
    margin-top: 20px;
}
.cart-info .disc-code h3 {
    font-weight: 400;
    font-size: 0.75em;
}
.cart-info .disc-code input[type="text"] {
    margin-top: 8px;
    outline: none;
    border-radius: 3px 0 0 3px;
    height: 36px;
    width: 70%;
    border: 1px solid #ccc;
    border-right: none;
    padding: 11px;
}
.cart-info .disc-code .btn-3 {
    border: none;
    outline: none;
    border-radius: 3px;
    height: 36px;
    width: 30%;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    background: #FE5A5A;
    color: #fff;
    font-weight: 500;
    transition: .3s ease;
}
.cart-info .disc-code .btn-3:hover {
    background: #f55151;
}


/* Responsibility */
@media screen and (max-width: 680px) {
    body {
        background: #fff;
    }
    .cart {
        margin-top: 24%;
        padding: 1.5%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .cart .items.favs {
        width: 100%;
    }
    /* Cart items section */
    .cart .items {
        width: 100%;
        padding-bottom: 5%;
        justify-content: center;
        align-items: center;
    }
    /* Cart heading */
    .cart .cart-heading {
        width: 100%;
        padding: 0 3%;
        border-bottom: 1px solid #e6e6e6;
        padding-bottom: 5%;
        gap: 15px;
    }
    .cart .cart-heading .clear-cart {
        font-size: 0.9em;
        border-radius: 3px;
        padding: 10px 17px;
        background: #f4f4f4;
    }
    /* Cart single item */
    .cart .item {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 15px;
        padding: 7.2%;
        width: max-content;
        background: #fff;
        border-radius: 0;
    }
    .item img {
        height: 170px;
    }

    /* Cart info */
    .cart-info {
        padding: 7%;
        margin: 2% 0;
        box-shadow: 0 0 12px 2px #0000000c;
        width: 100%;
    }
    .cart-info h2 {
        font-size: 0.9em;
    }
    .cart-info .total-price-heading {
        font-size: 1.2em;
    }
    .cart-info .btn-1,
    .cart-info .btn-2 {
        font-size: 0.9em;
    }
}